<ion-header [translucent]="true">
  <ion-toolbar>
<app-explore-container></app-explore-container>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-card-header>
    <ion-card-title>
      <h2>Приклади власних pipe. Приклад 1</h2>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
        <h2>Перетворення</h2>
        
        <ion-item>
  <ion-label position="floating" >Введіть число</ion-label>
  <ion-input type="number" value="2.2" #x></ion-input>
  
</ion-item>
        <ion-item><ion-text color="primary"><h3>Без форматування: </h3></ion-text> {{X(x.value)}}</ion-item>
        <ion-item><ion-text color="dark"><h3>З форматуванням та парметрами: </h3></ion-text> {{X(x.value) | format }}</ion-item>
  
        
    </ion-card-content>
  
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>
      <h2>Приклад 3</h2>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <app-string-array (messages)="newMessage($event)" ></app-string-array>
    <ion-item>
      <h3>Результат об'єдання всього масиву</h3>
    </ion-item>
    <ion-item>
      {{message.message | message}}
    </ion-item>
    <ion-card>
      <ion-card-header>
        <h3>Об'єднання з параметрами</h3>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <h3>Визначення параметрів</h3>
           <ion-label position="floating" >Початок інтервалу</ion-label>
            <ion-input type="number" value="2" #start></ion-input>
            <ion-label position="floating" >Кінець інтервалу</ion-label>
            <ion-input type="number" value="5" #end></ion-input>
        </ion-item>
        <ion-item>
          <h3>Результат об'єдання</h3>
        </ion-item>
        <ion-item>
            {{message.message | message:start.value:end.value}}
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-card-content>
</ion-card>
</ion-content>
